* {
   font-family: 'Open Sans', sans-serif;
   font-size: 9pt;
}

h1 {
   font-size: 32pt;
   font-weight: bold;
   color: purple;

}

.logo {
  width: 50px;
  height: 50px;
}

.red-quote{
  color: red;
}

#header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 150px;
}

#form {
   display: flex;
   align-items: center;
   justify-content: center;
}

.catPic {
   width: 200px;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;
   border-color: #afafaf;
}
.catPic:hover {
   transform: scale(1.1);
}

.dogAd {
   width: 420px;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;
   border-color: #afafaf;
}

ul {
   display:inline-block;
}
li {
   list-style: none;
}
